/* Transisi halus untuk perubahan warna background dan elemen */
.role-transition {
    transition: all 0.3s ease-in-out;
}

/* Efek untuk tab yang sedang aktif */
.active-tab {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 10;
    position: relative;
}